{% for service in services %}
<tr>

  <td>{{service.application  }}</td>
  <td>{{service.get_environment_type_display }}</td>
  <td>{{service.startdate }}</td>
  <td>{{service.expiredate }}</td>
  <td>  
  <span class="mousechange"><a class="  glyphicon glyphicon-pencil show-form-update" style="font-size: 20px" data-url="{% url 'service_account_update'  service.id %}">
  </a></span>
  <span class="mousechange"><a class=" glyphicon glyphicon-trash show-form-delete" style="font-size: 20px" data-url="{% url 'service_account_delete'  service.id %}"> 
  </a></span>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="7" class="text-center bg-warning">No Service Account</td>
</tr>
{% endfor %}